@using WebHoaLan.Models;
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Products>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Product" asp-action="Search" method="post">
    <label for="productName">Tên Sản Phẩm:</label>
    <input type="text" name="productName" />
    <button type="submit">Tìm Kiếm</button>
</form>

<br/><br/>
<h2 align="center">Sản phẩm mới nhất</h2>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <img src="~/@product.Image" alt="Card Image" class="card-img-top" style="height: 300px;"/>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label>@product.ProductsName</label>
                    </h4>
                </div>
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label ><b>Price : @product.Price</b></label>
                        </div>
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.ProductsId" class="btn btn-success pull-right btn-outline-info">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<h3 align="center">Sản phẩm đặt nhiều nhất</h3>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <label style="font-size: 23px;color: steelblue">@product.ProductsName</label>
                    </h4>
                </div>
                <img src="~/@product.Image" alt="Card Image" class="card-img-top" style="height: 300px;" />
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size: 20px;color: #a51313"><b>Price : @product.Price</b></label>
                        </div>
                        <a asp-action="Detail" asp-controller="Home" asp-route-id="@product.ProductsId" class="btn btn-success pull-right btn-outline-info">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<div>
    @Html.PagedListPager(Model,c=>Href("~/Customer/Home/Index?page="+c),PagedListRenderOptionsBase.PageNumbersOnly)
</div>
